<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>About US</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="aboutclass">
  <ion-img src="./assets/Images/about-us.jpg"></ion-img>
  <div>
  <p>
We provide Europe tourism packages details to our customers. Customer can view and select from variety of packages. Each package consist of images,
city, country of the destination. There are over 20 packages from which the customers can select from and contact us for any enquiry using the form given.
</p>
</div>

</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-title>© 2019 Manik TourDeEU</ion-title>
  </ion-toolbar>
</ion-footer>